element.style {
    background-image: url(//static.coupangcdn.com/image/static/login/logo-coupang.x2.20201201.png), none;
}

body.member-root--clean {
    margin: 0;
    padding: 0;
    background: #fff none;
}

body {
    -webkit-text-size-adjust: none;
    font-family: dotum, sans-serif;
    font-size: 12px;
    line-height: 1.6;
    color: #666;
    background: #f5f5f5 url(//img1a.coupangcdn.com/image/www/header/v1/bg_body.gif);
}

body {
    margin: 0;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.page-smsLogin-smsLogin .member-wrapper--flex, .page-login2134-login .member-wrapper--flex, .page-login-login .member-wrapper--flex, .page-login-play .member-wrapper--flex, .page-join .member-wrapper--flex, .page-pincode-select .member-wrapper--flex {
    min-width: 290px;
    max-width: 460px;
    _width: 460px;
    padding: 0 4.35%;
}

.member-root--clean .member-wrapper {
    width: auto;
    margin: 0 auto;
}

.page-join .member-wrapper {
    width: 600px;
}

.member-wrapper {
    margin: 0 auto;
    width: 980px;
}

.member-header {
    position: relative;
    margin-bottom: 20px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

.member-logo {
    margin: 0 auto;
    padding: 10.27% 0 0;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

.member-logo__img-fixer {
}

.member-logo__link {
    position: relative;
    display: block;
    width: 43.83%;
    max-width: 195px;
    max-height: 46px;
    margin: 0 auto;
    background-position: 50% 50%;
    padding-top: 10%;
    background-size: cover;
}

a {
    background: transparent;
}

a * {
    cursor: pointer;
}

.member-logo__img-fixer:before, .member-logo__img-fixer:after {
    overflow: hidden;
    content: '';
    display: table;
    _display: block;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    clear: both;
}

.member-main {
    position: relative;
}

.scoped-modal__container {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    line-height: 0;
    z-index: 2000000003;
}

.member-join .section-title {
    padding: 20px 0 10px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: normal;
    color: #111;
}

.join__content {
    margin-bottom: 20px;
}

.member__field-wrap {
    margin: 2.9% 0 0;
}

.member__input-wrap, .member__input-wrap-v2 {
    display: block;
    position: relative;
    height: 48px;
    padding: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: border-color .25s ease;
}

button, label {
    cursor: pointer;
}

button, label {
    cursor: pointer;
}

.member__input-group--icon-label {
    position: relative;
    float: left;
    display: inline;
    min-width: 44px;
    _width: 44px;
    height: 100%;
    border-right: 1px solid #ccc;
    background-color: #fafafa;
}

.member__input-group--validator {
    position: relative;
    float: right;
    width: 44px;
    height: 100%;
}

.member__input-group {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
}

.join__sprite--email {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 16px;
    margin: -8px 0 0 -10px;
    padding-left: 19px;
    background-position: -1px -1px;
}

.join__sprite {
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    color: transparent;
    text-indent: 1px;
    font-size: 1px;
    line-height: 1px;
    background-image: url(//img1a.coupangcdn.com/image/static/login/sprite-join.x1.20160902.png);
    background-image: url(//img1a.coupangcdn.com/image/static/login/sprite-join.20160902.svg), none;
    background-size: 86px 86px;
}

.join__sprite--valid {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 15px;
    margin: -8px 0 0 -10px;
    padding-left: 20px;
    background-position: -64px -1px;
}

.member__input-area__overlap-label, .member__input-area__mask-label, .member__input {
    width: 100%;
    padding: 16px 0 12px;
    border: 0 none;
    background: none transparent;
    font-family: dotum, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #111;
    font-weight: 700;
    text-indent: 12px;
}

.member__input {
    margin: 0;
    height: 48px;
    box-sizing: border-box;
}

.member__input[value=""] ~ .member__input-area__overlap-label, .member__input[value=""] ~ .member__input-area__mask-label {
    opacity: 1;
}

.member__input-area__overlap-label {
    color: #aaa;
}

.expose__password__wrapper {
    width: 238px;
    height: 15px;
    font-family: "Apple SD Gothic Neo", sans-serif;
    position: relative;
    top: -30px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #111;
    margin-left: 14px;
}

.member__input-guide-area {
    display: block;
    padding: 0;
    font-family: apple sd gothic neo, malgun gothic, nanumbarungothic, nanumgothic, dotum, sans-serif;
    font-size: 12px;
    line-height: 18px;
    cursor: default;
}

.member__input-field {
    position: relative;
}