.content-wrap {
    min-height: 50wh;
}

ul, ol, li {
    list-style: none;
}

.modal.middle {
    max-width: 520px;
}

.mt-30 {
    margin-top: 30px;
}

body, object, iframe, h1, h2, h3, h4, h5, 
h6, div, span, p, blockquote, pre, abbr, acronym, address, cite, 
code, del, dfn, em, img, figure, ins, kbd, q, samp, small, strong, 
sub, sup, var, b, i, dl, dt, dd, ol, ul, li, form, fieldset, legend, 
a, textarea, input, select, option, button, label, table, caption, 
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
figcaption, figure, footer, header, hgroup, menu, nav, section, 
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

* {
-webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

* {
    font-family: 'Spoqa Han Sans Neo', 'AppleSDGothicNeo', 'sans-serif';
    font-size: 12px;
}

.center {
    text-align: center;
}

.topmenu-holder {
    height: 70px;
    /* margin-bottom: 45px; */
    padding: 0;
    color: #fff !important;
    background: #000;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    resize: none;
    outline: 0;
}

* {
    -webkit-text-size-adjust: none;
    word-break: break-all;
}

body {
    letter-spacing: -0.5px;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

:root {
    --swiper-navigation-size: 44px;
}

:root {
    --swiper-theme-color: #007aff;
}

.w1640 {
    width: 1640px;
    margin-left: auto;
    margin-right: auto;
}

.pb-160 {
    padding-bottom: 160px;
}

.mt-60 {
    margin-top: 60px;
}

.modal {
    vertical-align: middle;
    position: relative;
    z-index: 92;
    max-width: 800px;
    max-height: 940px;
    box-sizing: border-box;
    width: 90%;
    background: #fff;
    padding: 27px 30px 30px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.modal.middle {
    max-width: 520px;
}

.modal:not(.xlarge, .hlarge, .modal-full, .large, .search-modal) .modal-middle {
    padding: 40px 40px 0;
}

.modal a.close-modal {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/common/icon-close.svg);
    z-index: 999998;
}

[class^="btn-type"] .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.footer-wrap {
    background-color: #f5f5f5;
    padding: 60px 0 55px;
}

.modal.modal-right {
    width: 520px;  
    height: calc(100% + 40px);
    max-height: calc(100% + 40px);
    margin: -20px -20px 0 0;
    float: right;
}

.breadcrumb li:first-child {
    background: url(../images/common/ico-home.svg) no-repeat left center;
    padding-left: 22px;
}

i.bread {
    display: block;
    margin: 0 5px;
    width: 5px;
    height: 10px;
    background: url(../images/common/icon-breadcrumb.svg);
}

h4, .h4 {
    font-size: 18px;
}

.loading_box .loading_txt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.header-wrap .wrap-holder {
    position: relative;
    z-index: inherit;
}

.header-wrap .wrap-holder {
    max-width: unset;
    width: 100%;
}

.header-wrap .wrap-holder {
    position: relative;
    z-index: 12;
}

.header-wrap .wrap-holder {
    max-width: 1640px;
    min-width: 1360px;
    margin: 0 auto;
}

.topmenu-holder {
    height: 70px;
    padding: 0;
    color: #fff !important;
    z-index: 12;
    background: #000;
}

.topmenu_wrap .holder-left {
    position: relative;
    margin-right: 40px;
}

.flex {
    display: flex
;
    align-items: center;
    position: relative;
}

[class^="btn-type"] {
    display: inline-block;
    height: 60px;
    color: #fff;
    border: solid 1px #000;
    background: #000;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    vertical-align: top;
    padding: 8px 20px;
}

.modal:not(.xlarge, .hlarge, .modal-full, .large, .search-modal) .modal-middle {
    padding: 40px 40px 0;
}

.center {
    text-align: center;
}