* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: #fff;
}
header {
  width: 100%;
  min-width: 1020px;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/image/header-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 10px 8%;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
nav button, h2 {
  cursor: pointer;
}
header nav > h2 {
  color: #db0001;
}
header nav > div > button:nth-child(2) {
  background-color: #db0001;
  color: white;
  border-radius: 5px;
  border: none;
}
header nav > div > button:nth-child(1) {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
}
.lang {}
.lang i:nth-child(1) {
  margin-right: 8px;
}
.lang i:nth-child(2) {
  margin-left: 5px;
}
header > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 15px 0;
}
.add-email {
  display: flex;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 30px;
}
.add-email input {
  border: 0;
  outline: 0;
  flex: 1;
}
.add-email input[type='email']  {
  height: 36px;
  font-size: 16px;
  padding-left: 1px;
}
.add-email button {
  border: 0;
  background-color: #db0001;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}
@media only screen and (max-width: 7678px) {
  .logo {
    font-size: 20px;
  }
  nav button {
    padding: 5px 10px;
  }
  .lang {
    padding: 4px 8px;
  }
  .header-content {
    width: 90%;
  }
  .header-content h2 {
    font-size: 48px;
    line-height: 50px;
  }
  .header-content h3 {
    font-size: 20px;
  }
  .add-email button {
    font-size: 12px;
    padding: 10px 15px;
  }
}

/* banner & membership */
.banner_membership {
  margin-left: 100px;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 1020px;
}

/* banner */

.banner_membership #banner {
  background: purple;
  background: linear-gradient(to right, purple, black);
  border-radius: 10px;
  padding: 15px 20px;
  line-height: 50px;
}
.banner_membership #banner > button {
  border-radius: 5px;
  background-color: rgb(63, 63, 63);
  border: none;
  color: white;
  padding: 5px 10px;
}

.banner_membership div:nth-child(2) {
  margin: 20px 0;
  line-height: 60px;
}
.banner_membership div:nth-child(2) > button {
  padding: 5px 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
}

.banner_membership h2 {
  margin-top: 40px;
}

/* membership */

.banner_membership #membership {
  margin: 10px 0;
  background: purple;
  background: linear-gradient(to right, purple, black);
  border-radius: 10px;
  padding: 15px 20px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Selection Guide */

.selection {
  margin-left: 100px;
  padding: 40px 0;
  max-width: 1920px;
  
}
.selection h2 {
  margin-bottom: 20px;
}

.selection > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
  
}

.selection > div:nth-child(2) > div {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  background-image: url(/image/beans.png);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background: linear-gradient(to bottom, rgb(4, 4, 180), black);
  position: relative;
  height: 150px;
}
.selection > div:nth-child(2) > div img {
  position: absolute;
  left : 80%;
  top: 80%;
  
}
.selection > div:nth-child(2) > div h5 {
  color: gray;
}

/*  FAQ */

.faq {
  margin-left: 100px;
  margin-top: 100px;
  padding: 40px 0;
  padding-right: 20px;
  min-width: 1020px;
}
.faq h2 {
  margin-bottom: 20px;
}
.faq .questions {
  display: block
}
.faq .questions div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(36, 36, 36);
  border-radius: 5px;
  margin: 5px 0;
  padding: 15px 15px;
  cursor: pointer;
}

/* sub_emails  */

.sub_emails {
  margin-left: 100px;
  margin-top: 0px;
  padding: 0 200px;
  min-width: 1020px;
}
.sub_emails p {
  margin-bottom: 20px;
}
.sub_emails > form {
  display: flex;
  justify-content: flex-start
}
.sub_emails > form > div {
  background-color: white;
  padding-left: 2px;
}

.sub_emails input {
  width: 50vw;
  height: 22px;
  border: 0;
  outline: 0;
}
.sub_emails button {
  height: auto;
  border: 0;
  background-color: #db0001;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

/*  Footer  */

footer {
  margin: 100px 100px;
  display: flex;
  justify-content: space-between;
  color: gray;
  min-width: 1020px;
}
footer > div:first-child {
  width: 50%;
}
footer > div:first-child > nav {
  display: flex;
  justify-content: flex-start;
}
footer > div:first-child > nav > h4 {
  margin-right: 8px;
}

footer > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  width: 40%;
  
}
