html {
  background: url(/NetflixProject/image/neoncity.jpg) no-repeat;
  object-fit: fill;
  background-position: 50%;
  
}
.modal.modal-right {
  width: 520px;
  height: calc(100% + 40px);
  max-height: calc(100% + 40px);
  margin: -20px -20px 0 0;
  float: right;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  color: gray;
  
}
header h2 {
  color: red;
  letter-spacing: 3px;
  font-size: xx-large;
  margin-left: 15px;
  text-shadow: 7px 7px 10px black;
}

header ul {
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  margin-right: 15px;
  gap: 15px;
}

header ul li {
  border: none;
  color: white;
  list-style-type: none;
  font-size: 16px;
  transition: 0.2s;
  
}
header ul li.scaleup:hover {
  transform: scale(1.5);
}
header ul li button {
  border: 1px solid white;
  color: white;
  background-color: red;
  border-radius: 4px;
  font-size: 20px;
}
header ul li button.login:active{
  background-color: black;
}
header ul li select {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}
header ul li select.lang:hover {
  background-color: black;
}
ul li[id='notification'] {
  width: 30px;
  height: 30px;
  position: relative;
  transition: 0.2s;
}
ul li[id='notification'] i::after {
  content: "3";
  font-size: 10px;
  text-align: center;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: -5px;
  right: -3px;
}



body {
  color: white;
  text-align: center;
}
.scaleup:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

h1 {
  color: red;
  font-size: 100px;
  letter-spacing: 5px;
  text-shadow: 7px 7px 10px black;
  text-align: center;
  position: relative center;
  
}
.box {
  width: 380px;
  height: 400px;
  padding: 10px;
  position: relative;
}
.box:hover .caption {
  opacity: 1;
  transform: scale(1.2);
}
.round {
  border-radius: 25px;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  
}
.caption {
  background: rgba(0, 0, 0, 0.6);
  width: 300px;
  height: 300px;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 10;
  position: absolute;
  top: 1px;
  
}

footer {
  font-size: 0.8em;
}
@media screen and (max-width: 768px){
  #container {
    width: auto;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {

  #container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  transition: 0.2s;
  }
}
@media screen and (min-width: 1025px) {
  #container {
  width: auto;
  display: flex;
  justify-content: space-around;
  transition: 0.2s;
  }

}
