    /* 전체 페이지 스타일 */
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(135deg, #7F8C8D , #2C3E50 );
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    /* 메인 컨테이너 */
    #new_main_concontainer {
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 15px;
      padding: 20px;
      width: 40vw;
      max-width: 400px;
      text-align: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

    /* 제목 스타일 */
    #new_main_rogo {
      font-size: 2rem;
      margin-bottom: 20px;
      font-weight: bold;
      color: #ffffff;
    }

    /* 입력 필드 스타일 */
    input[type="text"], input[type="password"] {
      width: calc(100% - 20px);
      padding: 10px;
      margin-bottom: 15px;
      border: none;
      border-radius: 5px;
      outline: none;
      font-size: 1rem;
    }

    /* 버튼 스타일 */
    button {
      width: calc(100% - 20px);
      padding: 10px;
      margin-top: 10px;
      background-color: #2C3E50 ;
      border: none;
      border-radius: 5px;
      color: #ffffff;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    #new_join_button{
      margin: 30px auto;
    }
    #password_button{
      margin: 20px auto;
    }
    button:hover {
      background-color: rgba(33, 61, 38, 0.671) ;
    }

    /* 체크박스 스타일 */
    #Id_box {
      display: flex;
      align-items: center;
      justify-content: start;
      margin-bottom: 10px;
    }

    #Id_save {
      margin-right: 10px;
    }

    /* 폰트 강조 */
    strong {
      font-weight: bold;
      color: #ecf0f1;
    }